<!DOCTYPE html>
<html lang="en">
<head>
    <!-- HTML 주석입니다.  -->
    <meta charset="UTF-8">
    <title>쭈쀼쭈쀼</title>
    <style>
        @font-face {
            font-family: 'TheTuesdayofYounah';
            src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2506-1@1.0/TheTuesdayofYounah.woff2') format('woff2');
            font-weight: normal;
            font-style: normal;
        }
    </style>
</head>
<body style="background-color: pink; font-family: 'TheTuesdayofYounah';">
<h1 style="background-color: gray">아 침대에 눕고싶다</h1>

<script>
    alert("Hello, 람쨩!");
</script>
</body>
</html>